body { margin: 0; padding: 0; background: url(../img/bg.jpg) no-repeat; background-size: cover; background-attachment: fixed; font-family: 'Yantramanav', 'Helvetica Neue', Helvetica, sans-serif; box-sizing: border-box; }
h1, h2, h3, p { margin: 0; padding: 0; }
h1 { font: 700 60px/60px 'Yantramanav', 'Helvetica Neue', Helvetica, sans-serif; }
h2 { font: 500 16px 'Yantramanav', 'Helvetica Neue', Helvetica, sans-serif; text-transform: uppercase; letter-spacing: .2em; }
h3 { font: 500 30px/32px 'Amatic SC', 'Helvetica Neue', Helvetica, sans-serif; color: #684858; text-transform: uppercase; margin-top: 20px;}
ul, li { list-style: none; padding: 0; margin: 0; }
p { font: 300 24px/30px 'Yantramanav', 'Helvetica Neue', Helvetica, sans-serif; margin-bottom: 15px; max-width: 460px; }
a { font-weight: 500; color: #f30; text-decoration: none;}

.lede { width: 100%; background-color: #f30; text-align: center; padding: 120px 10px 40px 10px; margin: 60px 0 360px 0; }
.container { width: 960px; margin: 0 auto; text-align: left; overflow: hidden; }
.container-fluid { width: 100%; background-color: #f6f6f6; text-align: center; }
.gallery { width: 940px; background-color: transparent; padding: 160px 10px; text-align: left; margin: 0 auto; }

.dingbat { display: block; margin-bottom: 36px; color: #fff; }
.eyebrow { font: 400 16px 'Yantramanav', 'Helvetica Neue', Helvetica, sans-serif; text-transform: uppercase; letter-spacing: .2em; display: block; color: #fff; }
.footnote { font-size: 14px; line-height: 18px; margin: 30px 0 90px; }
.caption { font: 14px/30px 'Share Tech Mono', 'Helvetica Neue', Helvetica, sans-serif; margin: 6px 0 30px; color: #ab9298; }
#photos li { margin: 20px 0; background-color: #fff; padding: 60px; box-shadow: 1px 0 6px 0 #ccc; display: inline-block; }
#photos li:nth-child(even) {
    -ms-transform: rotate(-.6deg); /* IE 9 */
    -webkit-transform: rotate(-.6deg); /* Chrome, Safari, Opera */
    transform: rotate(-.6deg); }
#photos li:nth-child(odd) {
    float: right;
    -ms-transform: rotate(.6deg); /* IE 9 */
    -webkit-transform: rotate(.6deg); /* Chrome, Safari, Opera */
    transform: rotate(.6deg); }
#photos img { margin: 0 auto; }

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 768px)
  and (-webkit-min-device-pixel-ratio: 1) {
    body { background-color: #f6f6f6; background-image: none; }
    h1, h2, .gallery > p { padding-left:20px; padding-right: 20px; }
    .lede { margin: 0; }
    .container { width: 100%; }
    .gallery { width: calc(100% - 40px); }
    #photos li { padding: 20px; }
}

@media screen
  and (-webkit-min-device-pixel-ratio: 2) {
    body { background-color: #f00; background-image: none; }
    h1, h2, .gallery > p { padding-left:20px; padding-right: 20px; }
    .lede { margin: 0; }
    .container { width: 100%; }
    .container-fluid { overflow: hidden; }
    .gallery { width: calc(100% - 40px); }
    #photos li { padding: 20px; }
}
