html, body { margin: 0; padding: 0; }
body { background: url(../img/bg.jpg) no-repeat; background-size: cover; background-attachment: fixed; transition: all 2s ease-in; font-family: 'Yantramanav', 'Helvetica Neue', Helvetica, sans-serif; }
h1, h2, h3, p { margin: 0; padding: 0; }
h1 { font: 700 60px/60px 'Yantramanav', 'Helvetica Neue', Helvetica, sans-serif; }
h2 { font: 500 16px 'Yantramanav', 'Helvetica Neue', Helvetica, sans-serif; text-transform: uppercase; letter-spacing: .2em; }
h3 { font: 500 30px/32px 'Yantramanav', 'Helvetica Neue', Helvetica, sans-serif; }
ul, li { list-style: none; padding: 0; margin: 0; }
p { font: 300 24px/30px 'Yantramanav', 'Helvetica Neue', Helvetica, sans-serif; margin-bottom: 15px; max-width: 460px; }
a { font-weight: 500; color: #f30; text-decoration: none;}
hr { margin: 90px 0 30px 0; height: 1px; }

.container-fluid { width: 100%; background-color: #fff; text-align: center; }
.lede { background-color: #f30; padding: 120px 10px 40px 10px; margin: 60px 0 360px 0; }

.container { width: 960px; margin: 0 auto; text-align: left; overflow: hidden; }
.dingbat { display: block; margin-bottom: 36px; color: #fff; }
.eyebrow { font: 400 16px 'Yantramanav', 'Helvetica Neue', Helvetica, sans-serif; text-transform: uppercase; letter-spacing: .2em; display: block; color: #fff; }
.gallery { padding: 160px 10px; }
.footnote { font-size: 14px; line-height: 18px; margin: 30px 0 90px; }
.caption { margin-bottom: 20px; color: #444; }
#photos li { margin: 90px 0; }
#photos img { }

@media (max-width: 960px) {
  body { background: url(../img/bg-sm.jpg) no-repeat; background-size: auto; }
  .container { width: 100%; }
}
